body {
  padding: 50px;
  font-family: "News Cycle", sans-serif;
  margin-bottom: 50px;
  background: #d6e0f0;
}

h1.title-logo {
  font-family: "Leckerli One", cursive;
  text-align: center;
  font-size: 55px;
  padding: 30px;
}

.container {
  max-width: 600px;
}

#search-form {
  background: #f1f3f8;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.form-control {
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
}

.btn-outline-secondary {
  border-radius: 10px;
  width: 80px;
  font-size: 24px;
}

.card {
  border-radius: 15px;
  background: #f1f3f8;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}

.card-subtitle {
  font-size: 24px;
}

.current-condition {
  font-size: 20px;
  font-style: italic;
  color: #6c758d;
  text-transform: capitalize;
}

.icon {
  width: 250px;
}

h3.card-subtitle {
  font-size: 30px;
}

.units {
  font-size: 28px;
}

.units .active {
  color: #6c758d;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.units a {
  text-decoration: none;
  color: #31a8e0;
}

div.six-day-forcast {
  margin-top: 20px;
  padding: 10px 10px;
  border: solid;
  border-width: 1px 1px;
  border-color: #dfdfdf;
  border-radius: 15px;
  background: #f1f3f8;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

div.col-2 {
  text-align: center;
}

.img-thumbnail {
  border: none;
  background: #f1f3f8;
}

.footer {
  text-align: center;
  padding: 15px;
}
